.layout-container {
  position: relative;
  .banner-women {
    width: 100%;
    height: auto;
  }
  .social-icons {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;

    .social-icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 2rem;
      background-size: cover;
      background-position: center;
      border-radius: 2rem;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .layout {
    position: relative;
    z-index: -1;
  }
  @media (max-width: 844px) {
    .social-icons {
      display: none; /* Oculta los iconos cuando el ancho de la pantalla es menor de 844px */
    }
  }
}
