.layout-container {
  position: relative;

  .social-icons {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: flex;

    z-index: 1;

    .social-icon {
      width: 2rem;
      height: 2rem;
      margin-bottom: 2rem;
      background-size: cover;
      background-position: center;
      border-radius: 2rem;
      cursor: pointer;

      &.twitter-icon {
        background-image: url('./twitter-icon.png');
      }

      &.facebook-icon {
        background-image: url('./facebook-icon.png');
      }

      &.youtube-icon {
        background-image: url('./youtube-icon.png');
      }

      &.instagram-icon {
        background-image: url('./instagram-icon.png');
      }
    }
  }

  .layout {
    position: relative;
    z-index: -1; /* Coloca la imagen de fondo por detrás de los íconos */
  }
}
