footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .white-logo {
    .logo-image-white {
      display: block;
      margin-bottom: 1rem;
    }
  }

  .text-footer-container {
    .text-footer {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 1rem;
        }
      }
    }

    .social-icons-footer {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .social-icon-footer {
        display: block;
        width: 2rem;
        height: 2rem;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  @media (max-width: 844px) {
    .social-icons-footer {
      .social-icon-footer {
        &:hover {
          transform: none; /* Desactiva el hover en pantallas más pequeñas */
        }
      }
    }
  }
}
